@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


body {
    font-family: 'Quicksand', sans-serif;
    min-height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    margin: 0;
    letter-spacing: 2px;
    background: url("../images/grass.jpg") no-repeat center center/cover;
    
}

/* Header */

header {
    background-color: #fffab8;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 2px #ffaff8;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: auto;

}
 
.heading {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/* Welcome-text area */
#welcome {
    background-color: #fffab8;
    width: 100%;
}

.welcome-text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    
}

/* Game area */

.board-holder {
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 10px
}

.game-board {
    height: 400px;
    width: 360px;
    margin-bottom: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-left: 10px;
    
}

.card {
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    padding: 45px;
}

.material-symbols-outlined {
    background-color: #fffab8;
}

.check {
    width:100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 0.4s linear;
    position: absolute;
    user-select: none;
    pointer-events: none;
}


.card-back {
    width:100%;
    height: 100%;
}

.card-back img {
    max-width: 65px;
    border-radius: 15px;
}

.card-front img {
    max-width: 65px;
    border-radius: 15px;
}

.cards {
    height: 100%;
    width:100%;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0px;
}

.card, .cards, .check {
    display: flex;
    align-items: center;
    justify-content: center;
}


.card-front {
    width: 100%;
    height: 100%
}


.card .card-back {
    transform: rotateY(-180deg);
}


.card-front span {
    color:#ffaff8;
    font-size: 65px;
    font-weight:bold;
    text-shadow: 1px 1px #383833;
    border-radius: 15px;
}

.card .card-back {
    transform: rotateY(-180deg);
}

.card.turn .card-front {
    transform: rotateY(180deg);
} 

.card.turn .card-back {
    transform: rotateY(0deg);
}

.card.wobble {
    animation: wobble 0.4s ease-in-out;
}

@keyframes wobble {
    0%,100% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(-13px);
    }
    40% {
        transform: translateX(13px);
    }
    60% {
        transform: translateX(-8px);
    }
    80% {
        transform: translateX(8px);
    }
}

#audio {
    background-color: #fffab8;
    box-shadow: 0 1px 2px #ffaff8;
    border-radius: 15px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
}

#audio-p{
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
}

    /* Footer */

footer {
    background-color: #fffab8;
    width: 100%;
    box-shadow: 0 1px 2px #ffaff8;
}

.thankyou {
    justify-content: space-evenly;
    list-style-type: none;
    display: flex;
    padding-left: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    font-size: 25px;
    
}

#social-networks {
    justify-content: space-evenly;
        list-style-type: none;
        display: flex;
        padding-left: 10px;
        margin-left: auto;
        margin-right: auto;
        max-width: 150px;
        font-size: 25px;
}

#visit {
    text-decoration: underline;
}

/* Media query: tablets and larger (768 and up) */
@media screen and (min-width :768px) {
    header {
        background-color: #fffab8;
        z-index: 99;
        width: 100%;
        box-shadow: 0 1px 2px #ffaff8;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        margin-bottom: 0px;
        }

}
